#contacto{
    margin-left: 7%;
    display: flex;
}
 
.container-form{
    width: 100%;
    max-width: 150px;
    margin-left: 70px;
 
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    outline: 0px;
}
.container-form form textarea{
    min-width: 314px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #FFBE01;
    color: black;
    cursor: pointer;
    padding-right: 200px;
}
h1 {
	color: white;
}
p{
	color: white;
}
body{
	background: black
}
.cosa p{
    margin-top: 5px;
    margin-bottom: 28px;
}
.cosas{
    padding-bottom: 22px;
}
#formulario{
    display: flex;
    padding-bottom: 300px;
}
#todoformulario{
    padding-top: 90px;
}
#textoform p{
    justify-content: center right;
    margin-top: 260px;
    margin-left: 320px;
    text-align: left;
}
#textoform h3{
    font-size: 40px;
    margin-left: 320px;
}