header {
	display: flex;
	min-height: 70px;
	width: 100%;
	background-color: black;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100px;
}

.logo {
	margin-left: 7%;
}

.logo img{
	height: 100px;
}

nav {
	margin-left: 4%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	padding-bottom: 5px;
	font-weight: 300;
}

nav a:hover, .activa{
	border-bottom: 5px solid #FFBE01; 
}
