#contacto {
    margin-left: 7%;
    display: grid;
    padding-top: 88px;
    grid-template-columns: 1fr 1fr;
    width: 88%;
}

#todoformulario h2 {
    margin: 1.5rem auto;
}

#todoformulario form {
    display: grid;
    grid-template: repeat(4, auto) / 1fr 2fr;
    padding-bottom: 300px;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    grid-gap: 20px;
}
 
#todoformulario form .campo, textarea{
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    outline: 0px;
}

#todoformulario form textarea {
    height: 15rem;
}

#todoformulario form label {
    align-self: center;
    justify-self: end;
}

#todoformulario form label[for='mensaje'] {
    align-self: start;
    margin-top: 10px;
}

#todoformulario .btn-enviar{
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    outline: 0px;
    background: #FFBE01;
    color: black;
    cursor: pointer;
    grid-column: 2 / 3;
    text-align: center;
}

#textoform {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 5.5rem;
}

#textoform p{
    justify-content: center right;
    text-align: left;
    margin: 0;
    font-size: 1.5rem;
    width: 90%;
}
#textoform h3{
    font-size: 2.4rem;
    text-align: left;
    margin: 1.5rem 0;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactos span {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.contactos a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 2.2rem;
}

.contactos img {
    height: 100%;
}

@media (max-width: 840px) {
    #contacto {
        display: flex;
        flex-direction: column;
    }
    #todoformulario h2 {
        font-size: 2.4rem;
        width: 90%;
        margin-left: 0;
    }
    #todoformulario form {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #todoformulario form input, #todoformulario form textarea {
        width: 90%;
    }
    #todoformulario form input[type='submit'] {
        width: 50%;
        align-self: center;
    }
    #todoformulario form label {
        align-self: flex-start;
        margin-top: 0 !important;
        text-align: left;
    }
    #textoform {
        padding: 0;
    }
    .contactos {
        margin-bottom: 80px;
    }
    #textoform h3{
        font-size: 1.9rem;
        width: 100%;
    }
}