header{
	display: flex;
	min-height: 70px;
	width: 100%;
	background-color: black;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100px;
}

a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 5px;
}

.logo img{
	height: 100px;
	margin-left: 145px;
}

nav {
	margin-left: 40px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

nav a{
	font-weight: 300;
}

nav a:hover, .activa{
	border-bottom: 5px solid #FFBE01; 
}
