.borde{
  border: 5px solid white;
	width: 250px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.borde img{
	width: 100%;
}

.borde h2{
	color: white;
	font-size: 30px;
}

.borde p{
	color: white;
	font-size: 20px;
	text-align: center;
}