.borde{
  border: 5px solid white;
	padding: 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.borde img{
	width: 100%;
}

.borde h2 {
	color: white;
	font-size: 2rem;
	text-align: center;
	margin: 15px;
}

.borde p{
	color: white;
	font-size: 20px;
	margin: 5px;
	width: 100%;
}