#inicio{
    text-align: left;
    margin-left: 83px;
    padding-top: 88px;
    height: 100vh
}

h1{
    font-size: 55px;
    padding-top: 85px;
    color: white;
}

p{
    width: 50%;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
}

#boton-solicitar-presupuesto{
    padding: 15px;
    font-size: 16px;
    background: #FFBE01;
    color: black;
}
