#inicio {
    text-align: left;
    margin-left: 7%;
    padding-top: 88px;
    height: 100vh;
}

#inicio h1 {
    font-size: 4rem;
    padding-top: 85px;
    color: white;
    font-weight: 700;
}

p {
    width: 70%;
    margin-bottom: 60px;
    font-size: 1.6rem;
    color: white;
}

#boton-solicitar-presupuesto {
    padding: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    background: #FFBE01;
    color: black;
    font-weight: 600;
}

#boton-solicitar-presupuesto:hover {
    background-color: white;
}
