#nosotros {
    text-align: left;
    margin-left: 7%;
    padding-top: 88px;
}

h2 {
    font-size: 4rem;
    color: white;
}

h3 {
    font-size: 3.5rem;
    color: white;
}

.tecnologias {
    width: 60%;
    display: grid;
    grid-template: 1fr 1fr / repeat(7, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 120px;
}

.presentaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 88%;
}