#nosotros{
    text-align: left;
    margin-left: 145px;
    padding-top: 88px;
}

h2{
    font-size: 55px;
    color: white;
}

h3{
    font-size: 55px;
    color: white;
}

.tecnologias {
    width: 80%;
    display: grid;
    grid-template: 1fr 1fr / repeat(7, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;
}

.presentaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
}