.foto {
  width: 100%;
}

.tarjeta-presentacion {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nombre-persona {
  font-size: 2rem;
}

.descripcion-persona {
  width: 95%;
  margin: 0;
  font-size: 1.4rem;
}