#proyectos {
    padding-top: 80px;
    margin-left: 7%;
}

h2 {
    text-align: left;
}

.proyectosreal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 88%;
    grid-gap: 40px
}

@media (max-width: 840px) {
    .proyectosreal {
        display: flex;
        flex-direction: column;
    }
}