<!DOCTYPE html>
<html>
<head>
	<title>contacto</title>
	<style type="text/css"></style>
	<link rel="stylesheet" href="estilocontacto-rototipo.css">

</head>
<h1>¡Contáctanos!</h1>
<body> 
	<div class="cosas">
		<p>Nombre</p>
		<p>e-mail</p>
		<p>Mensaje</p>
	</div>

    <div class="container-form">
        <form action="#" autocomplete="off">
            <input type="text" name="nombre" class="campo" style="width : 314px; heigth : 1px">
            <input type="emal" name="email" class="campo" style="width : 314px; heigth : 1px">
            <textarea name="mensaje" ></textarea>
            <input type="submit" name="enviar" value="¡Enviar Mensaje!" class="btn-enviar">
        </form>
    </div>
	

</body>
</html>