<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="estilocabezalproto.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<title>Cabezal</title>
</head>
<body>
	<header>
		<div class="logo">
			<img src="logobgdesarollo.png">
		</div>
		<nav>
			<a href="nav-lin">INICIO</a>
			<a href="nav-link">NOSOTROS</a>
			<a href="nav-link">PROYECTOS</a>
			<a href="nav-link">CONTACTO</a>
		</nav>
	</header>

</body>
</html>